@font-face {font-family: 'yg-jalnan';src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'Pretendard-Regular';src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');font-weight: 400;font-style: normal;}

.content{ min-height: 800px;}
.content h3{
  font-size: 24px;
  font-weight: bold;
  line-height: 50px;
}
#c_count{color: #f7323f; padding: 0 3px 0 20px;}

.cnt{
  border-bottom: 2px solid #000;
  margin: 0px 0 20px;
}

/* 쿠폰 레이아웃 */
.c-box{
  width: 650px;
  height: 255px;
  margin: 40px auto;
  background: url(../img/coupon.png);
  position: relative;
}

.c-right{
  width: 173px;
  height: 255px;
  position: absolute;
  top: 0;
  right: 0;
}
.c-right a{
  display: block;
  text-indent: -9999px;
  overflow: hidden;
}
.c-right .using{
  position: relative;
  height: 150px;
}
.c-right .coupon-detail{
  position: relative;
  top: 60px;
}

.c-left{
  width: 472px;
  height: 255px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px 20px;
  box-sizing: border-box;
}

.c-left h4{
  font-size: 24px;
  font-weight: bold;
}
.c-left .c-title{
  color: #f7323f;
}
.c-left .c-max,
.c-left .c-comm,
.c-left .limit,
.c-left .notice
{
  font-size: 16px;
  font-weight: normal;
  color: #999;
}

.c-left .ab{
  position: absolute;
  left: 20px;
  bottom: 30px;
}

.c-left .exp{
  color: #f7323f;
}
.c-left .date{
  color: #666;
  padding-bottom: 7px;
}

/* 쿠폰 제작 페이지 */
.edit-wrap{
  width: 1200px;
  margin: 120px auto;
}
.editor{
  width: 1200px;
  background-color: #f6f6f6;
  box-sizing: border-box;
  padding: 15px 30px 15px 300px;
}
.editor-fieldset{
  border: none;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.editor label{
  display: inline-block;
  width: 150px;
  text-align: end;
  margin-right: 10px;
}
.fbox{
  margin: 15px 0;
}
.editor-fieldset input{
  width: 300px;
  height: 30px;
  padding: 5px 15px;
  box-sizing: border-box;
  border: 1px solid #999;
  border-radius: 5px;
}
#disc,
#max,
#period,
#min{
  width: 170px;
  text-align: end;
}
/* number 증감버튼 없애기 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.b_group{
  display: flex;
  width: 750px;
  margin: auto;
  justify-content: flex-end;
}
.b_group button{
  width: 100px;
  height: 40px;
  font-size: 16px;
  font-family: 'yg-jalnan';
  font-weight: normal;
  border-radius: 5px;
  background: transparent;
  cursor: pointer;
  transition: background 0.4s, color 0.4s;
}
.delete_btn{
  border: 1px solid #ff7a83 ;
  background: #ff7a83 !important;
  color: #fff;
  margin-right: 10px;
}
.delete_btn:hover{
  background: #ff0011 !important;
  color: #fff;
}
.cancel_btn{
  border: 1px solid #f7323f;
  color: #f7323f;
  margin-right: 10px;
}
.cancel_btn:hover{
  background: #f7323f;
  color: #fff;
}
.submit_btn{
  border: 1px solid #5694f0;
  color: #5694f0;
}
.submit_btn:hover{
  background: #5694f0;
  color: #fff;
}
/* admin */
.admin-btn{
  position: absolute;
  top: 30px;
  right: 30px;
}