.regi_wrap{
  width: 1000px;
  margin: 180px auto 0;
  padding: 20px 0;
  box-sizing: border-box;
  background: #eee;
}
.regi_wrap fieldset{
  margin: auto;
}
.regi_box{
  display: flex;
  width: 500px;
  margin: 20px 0 20px 30px;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.regi_box label{
  display: inline-block;
  width: auto;
  min-width: 100px;
  font-size: 18px;
}
.regi_box input{
  width: 300px;
  height: 35px;
  padding: 5px 10px;
  box-sizing: border-box;
}
.preview p{ font-size: 18px; margin-bottom: 10px;}
.regi_box .ev_date{ min-width: 70px;}
#s_date, #e_date{ width: 100px;}
#e_img{padding: 5px 0;}
#e_winning{ width: 20px; height: 20px; margin-right: 280px;}
.regi_box.preview{ width: 760px;}
.preview img{ width: 100%;}

/* 버튼 영역 */
.b_group{
  display: flex;
  width: 750px;
  margin: auto;
  justify-content: flex-end;
}
.b_group button{
  width: 100px;
  height: 40px;
  font-size: 16px;
  font-family: 'yg-jalnan';
  font-weight: normal;
  border-radius: 5px;
  background: transparent;
  cursor: pointer;
  transition: background 0.4s, color 0.4s;
}
.cancel_btn{
  border: 1px solid #f7323f;
  color: #f7323f;
  margin-right: 10px;
}
.cancel_btn:hover{
  background: #f7323f;
  color: #fff;
}
.submit_btn{
  border: 1px solid #5694f0;
  color: #5694f0;
}
.submit_btn:hover{
  background: #5694f0;
  color: #fff;
}

.guide_txt{
  font-size: 14px;
  color: #999;
}
.img_reset{
  width: 55px;
  height: 24px;
  border: 1px solid #f7323f;
  border-radius: 3px;
  color: #f7323f;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
}
.img_reset:hover{
  background: #f7323f;
  color: #fff;
}