@font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* reset css */
* {
  margin: 0;
  padding: 0;
}

body,
button {
  font-weight: normal;
  font-size: 16px;
  font-family: "Pretendard-Regular", "맑은 고딕", 'Open Sans', sans-serif;
}
button{
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ol,
dl,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

address {
  font-style: normal;
}

.hide {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px
}

.cf::after {
  content: '';
  display: block;
  clear: both;
}

/* .main{margin: auto; min-width: 1200px; width: 1260px; } */
/* 공용클래스 */
.prev_btn {
  display: block;
  width: 50px;
  height: 50px;
  background: #eee url(../img/scroll-lb.png) no-repeat 50% 50% / 60%;
  text-indent: -9999px;
  border-radius: 50%;
  opacity: 0.7;
  transition: all 0.4s;
}

.next_btn {
  display: block;
  width: 50px;
  height: 50px;
  background: #eee url(../img/scroll-rb.png) no-repeat 50% 50% / 60%;
  text-indent: -9999px;
  border-radius: 50%;
  opacity: 0.7;
  transition: all 0.4s;
}

.title {
  width: 220px;
  height: 35px;
  position: relative;
  top: -20px;
  left: 0;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  line-height: 35px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 2px 1px 3px #ccc;
}

.f_color {
  color: #5694f0;
}

/* 헤더영역 */
.void{
  width: 100%;
  height: 70px;
  position: relative;
}
header {
  background-color: #5694f0;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 999;
  transition: background 0.5s;
}
header.on{
  background-color: #8ad2e6;
}


.header_wrap {
  width: 1200px;
  margin: auto;
  position: relative;
  border-top: 1px solid transparent;
  z-index: 2;
}

.logo {
  width: 120px;
  height: 30px;
  margin: 25px 35px;
  float: left;
}

.logo a {
  display: block;
  width: 100%;
  height: 22px;
  background: url(../img/gc_logo_white.png) no-repeat 0 0 / contain;
  text-indent: -9999px;
  overflow: hidden;
  transition: background 0.4s;
}


.search_btn {
  display: block;
  width: 48px;
  height: 48px;
  background: url(../img/ico_srch_white.png) no-repeat 50% 50% / contain;
  text-indent: -9999px;
  transition: background 0.4s;
  overflow: hidden;
}

.top_menu {
  float: right;
}

.top_menu li {
  float: left;
  margin: 10px 15px;
  font-family: 'yg-jalnan';
}

.top_menu li a {
  display: block;
  width: 65px;
  line-height: 50px;
  color: #fff;
  font-size: 18px;
  opacity: 0.6;
  transition: all 0.4s;
}
.top_menu li a:hover{
  opacity: 1;
}
.top_menu li a.logout{
  width: 75px;
}

/* 스크롤 내리면 나오는 헤더 */
header.scroll{
  background-color: #fff;
  width: 100%;
  box-shadow: 0px 2px 3px #eee;
  position: fixed;
  top: 0;
  z-index: 999;
}
.logo a.scroll {
  background: url(../img/gc_logo.png) no-repeat 0 0 / contain;
}
.search_btn.scroll{
  background: url(../img/ico_srch.png) no-repeat 50% 50% / contain;
}
.top_menu li a.scroll {
  display: block;
  width: 65px;
  line-height: 50px;
  color: #333;
  font-size: 18px;
  opacity: 0.6;
  transition: all 0.4s;
}
.top_menu li a.scroll.logout{
  width: 75px;
}
.top_menu li a.scroll:hover{
  opacity: 1;
}

/* 링크 메뉴_아이콘 */
.link_menu {
  width: 1200px;
  margin: 100px auto 0;
}

/* 링크메뉴 상단 */
.menu_top {
  margin: 0 auto 20px;
  width: 660px;
}

.menu_top li {
  width: 90px;
  height: 110px;
  margin: 10px;
  float: left;
}

.menu_top a {
  display: block;
  width: 100%;
  height: 90px;
  line-height: 30px;
  padding: 85px 0 5px;
  text-align: center;
  box-sizing: border-box;
}

.motel {background: url(../img/motel.png) no-repeat 0 0 / contain;}
.hotel {background: url(../img/hotel.png) no-repeat 0 0 / contain;}
.pension {background: url(../img/pension.png) no-repeat 0 0 / contain;}
.home {background: url(../img/home.png) no-repeat 0 0 / contain;}
.camp {background: url(../img/camp.png) no-repeat 0 30% / contain;}
.guest {background: url(../img/guest.png) no-repeat 0 0 / 100% 70%;}


/* 링크메뉴 하단 */
.menu_bot {
  margin: 0 auto;
  width: 550px;
}

.menu_bot li {
  width: 90px;
  height: 110px;
  margin: 10px;
  float: left;
}

.menu_bot a {
  display: block;
  width: 100%;
  height: 90px;
  line-height: 30px;
  padding: 85px 0 5px;
  text-align: center;
  box-sizing: border-box;
}

.place {background: url(../img/place.png) no-repeat 0 0 / 100% 80%;}
.airplane {background: url(../img/airplane.png) no-repeat 50% 0 / 80% 80%;}
.rent {background: url(../img/rent.png) no-repeat 0 0 / 90% 90%;}
.leisure {background: url(../img/leisure.png) no-repeat 0 0 / 90% 90%;}
.food_nav {background: url(../img/food.png) no-repeat 0 0 / 90% 90%;}


/* 지금 여기 컨텐츠 영역 */
.now-slide-bg {
  width: 100%;
  height: 800px;
  background: url(../img/now_bg.jpg) no-repeat 0 70% / 100%;
}

.now_wrap {
  width: 100%;
  height: 800px;
  margin: 100px 0;
  padding: 20px 0;
  background-color: #8ad2e6be;
  box-sizing: border-box;
  text-align: center;
  position: relative;
}
.now_text_wrap{
  width: 1200px;
  margin: 0 auto 40px;
}
.now_title {
  font-family: 'yg-jalnan';
  font-size: 60px;
  color: #fff;
}

.now_text {
  font-family: 'yg-jalnan';
  font-size: 28px;
  color: #fff;
}

.now_slide {
  width: 1295px;
  height: 550px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.now_slide > ul {
  width: 2280px;
  height: 550px;
  position: absolute;
  top: 0;
  left: -380px;
}

.now_slide > ul li {
  width: 300px;
  height: 300px;
  float: left;
  margin: 250px 40px 0;
  transition: all 0.6s;
  border-top-right-radius: 45%;
  border-top-left-radius: 45%;
  box-shadow: 0px 0px 3px 2px #8ad2e6;
}

.now_slide > ul li a {
  display: block;
  width: 0;
  height: 0;
  opacity: 0;
}

.now_slide > ul .now-on {
  width: 455px;
  height: 540px;
  margin-top: 10px;
  position: relative;
}

.now_slide > ul .now-on {
  border-radius: 50% 50% 0 0;
}

.now_slide > ul .now-on a {
  display: block;
  width: 77px;
  height: 30px;
  color: #fff;
  padding: 75px 0 0;
  background:url(../img/now-play.png) no-repeat 50% 0;
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translate(-50%);
  opacity: 1;
  transition: opacity 1s;
  
}
.now_slide > ul .now-on::after{
  content: '창문 열어보기';
  display: block;
  font-family: 'yg-jalnan';
  font-size: 18px;
  width: 130px;
  height: 20px;
  color: #fff;
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%);
  opacity: 0;
  transition: opacity 0.7s;
}
.now_slide > ul .now-on:hover::after{
  opacity: 1;
}

.now_slide > ul li a {
  text-indent: -9999px;
  overflow: hidden;
}

.now-con1{ background: url(../img/now-con1.jpg) no-repeat 50% 100% / 100%;}
.now-con2 {background: url(../img/now-con2.jpg) no-repeat 50% 100% / 100%;}
.now-con3 {background: url(../img/now-con3.jpg) no-repeat 50% 100% / 100%;}
.now-con4 {background: url(../img/now-con4.jpg) no-repeat 50% 100% / 100%;}
.now-con5{ background: url(../img/now-con5.jpg) no-repeat 50% 100% / 100%;}

.now_wrap .left {
  position: absolute;
  top: 45%;
  left: 16%;
  z-index: 4;
}

.now_wrap .right {
  position: absolute;
  top: 45%;
  right: 16%;
  z-index: 4;
}
.now_wrap .left .prev_btn,
.now_wrap .right .next_btn{
  background-color: transparent;
  background-size: 100%;
  opacity: 0.5;
}
.now_wrap .right .next_btn:hover,
.now_wrap .left .prev_btn:hover{
  opacity: 1;
}

/* 지금여기 페이저 */
.now_pager{
  display: flex;
  position: absolute;
  width: 500px;
  top: 22%;
  left: 50%;
  background-color: #fff;
  border-radius: 5px;
  transform: translate(-50%);
  z-index: 4;
}
.now_pager li{
  height: 8px;
  border-radius: 5px;
  transition: background 0.4s;
  cursor: pointer;
}
.now_pager li.on{
  background-color: #447dd1;
  position: relative;
}


/* 이벤트 배너 영역 */
.event {
  width: 100%;
  height: 500px;
  margin: 150px auto 0;
  position: relative;
}

.banner_box {
  height: 500px;
  margin: auto;
  position: relative;
  left: 0;
  overflow: hidden;
  z-index: 3;
}

.banner_box > ul {
  position: absolute;
  top: 0;
  left: 0;
}

.banner_box >ul li {
  float: left;
}

.b-box{ /* 배너 공통 클래스 */
  display: block;
  width: 1200px;
  height: 520px;
  margin:auto;
  text-indent: -9999px;
  overflow: hidden;
}
.banner1 { background: url(../img/banner_1.jpg) no-repeat -55px 0 ;}
.banner2 { background: url(../img/banner_2.jpg) no-repeat -55px 0 ;}
.banner3 { background: url(../img/banner_3.jpg) no-repeat -55px 0 ;}
.banner4 { background: url(../img/banner_4.jpg) no-repeat -55px 0 ;}
.banner1_full { background: url(../img/banner_full_1.jpg)  0 0 / contain;}
.banner2_full { background: url(../img/banner_full_2.jpg)  0 0 / contain;}
.banner3_full { background: url(../img/banner_full_3.jpg)  0 0 / contain;}
.banner4_full { background: url(../img/banner_full_4.jpg)  0 0 / contain;}



.event .left {
  position: absolute;
  top: 45%;
  left: 16%;
  z-index: 4;
}

.event .right {
  position: absolute;
  top: 45%;
  right: 16%;
  z-index: 4;
}

.event .left:hover>.prev_btn {
  opacity: 1;
}

.event .right:hover>.next_btn {
  opacity: 1;
}
/* 이벤트 영역 페이저 */
.event_pager{
  display: flex;
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%);
  z-index: 4;
}
.event_pager li{
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 10px;
  transition: background 0.4s;
  cursor: pointer;
}
.event_pager li.on{
  background-color: #447dd1;
}

/* 숙소 추천 */
.rec_line {
  margin: 200px 0 0 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.recomm {
  width: 1200px;
  margin: 0 auto 30px;
  position: relative;
  line-height: 1.5em;
}

.recomm_box{
  width: 1200px;
  height: 400px;
  padding-top: 20px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
.recomm_list{
  position: absolute;
  top: 20;
  left: 0;
}
.recomm_list li {
  float: left;
  margin: 0 10px;
}

.recomm_con {
  display: block;
  width: 380px;
  height: 360px;
  padding: 18px 10px 10px 220px;
  position: relative;
  box-shadow: 2px 2px 5px #ccc;
  border-radius: 20px;
  box-sizing: border-box;
  opacity: 0.8;
  transition: all 0.3s;
}

.re_thum1 {background: #c6ddff url(../img/recommend_thum1.jpg) no-repeat 10% 50% / 50% 90%;}
.re_thum2 {background: #c6ddff url(../img/recommend_thum2.jpg) no-repeat 10% 50% / 50% 90%;}
.re_thum3 {background: #c6ddff url(../img/recommend_thum3.jpg) no-repeat 10% 50% / 50% 90%;}

.recomm_con:hover {
  transform: translate(-3px, -5px);
  opacity: 1;
}

.recomm .left {
  position: absolute;
  top: 50%;
  left: -15px;
}

.recomm .right {
  position: absolute;
  top: 50%;
  right: -15px;
}

.recomm .left:hover>.prev_btn {
  opacity: 1;
}

.recomm .right:hover>.next_btn {
  opacity: 1;
}

/* 내부 텍스트 영역 */

.recomm_name {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
}

.recomm_review {
  color: #ff6b37;
}

.score {
  background-color: #ff6b37;
  color: #fff;
  padding: 1px 7px;
  margin-right: 5px;
  border-radius: 5px;
}

.recomm_local {
  font-size: 14px;
}

.local_length::after {
  content: '|';
  margin: 0 5px;
}

.recomm_cancel {
  color: #666;
}

.recomm_etc {
  color: #5694f0
}

.recomm_time {
  width: 150px;
  position: absolute;
  bottom: 50px;
  font-size: 20px;
}

.recomm_day {
  width: 150px;
  position: absolute;
  bottom: 15px;
  font-size: 20px;
}

.recomm_time dt,
.recomm_day dt {
  float: left;
}

.recomm_time dd,
.recomm_day dd {
  float: right;
}


/* 특가 상품 */

.sp {
  width: 1200px;
  margin: 200px auto 0;
}

.sp_title {
  width: 240px;
}

.sp_box {
  width: 1200px;
  overflow: hidden;
}

.sp_list {
  width: 1600px;
}

.sp_list li {
  float: left;
  margin: 0 10px;
}

.sp_content {
  display: block;
  width: 280px;
  height: 220px;
  box-shadow: 2px 2px 10px #ccc;
  border-radius: 20px;
  position: relative;
}

.sp_thum1 {background: url(../img/special_thum1.jpg) no-repeat 50% 50% / cover;}
.sp_thum2 {background: url(../img/special_thum2.jpg) no-repeat 50% 50% / cover;}
.sp_thum3 {background: url(../img/special_thum3.jpg) no-repeat 50% 50% / cover;}
.sp_thum4 {background: url(../img/special_thum4.jpg) no-repeat 50% 50% / cover;}
.sp_thum5 {background: url(../img/special_thum5.jpg) no-repeat 50% 50% / cover;}

.sp_content::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 280px;
  height: 220px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  border-radius: 20px;
  opacity: 0;
  transition: all 0.5s;
}

.sp_text {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  left: 20px;
  bottom: 50px;
  z-index: 2;
  opacity: 0;
  transition: all 0.5s;
}

.sp_review {
  color: #ff6b37;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  left: 20px;
  bottom: 25px;
  z-index: 2;
  opacity: 0;
  transition: all 0.5s;
}

.sp_price {
  position: absolute;
  left: 160px;
  color: #fff;
  word-break: keep-all;
}

.sp_content:hover .sp_text,
.sp_content:hover .sp_review,
.sp_content:hover::after {
  opacity: 1;
}

.sp_more {
  display: block;
  width: 123px;
  height: 33px;
  margin: 40px auto 0;
  background: url(../img/special_more.png) no-repeat 0 0 / contain;
  text-indent: -9999px;
}

/* 최근 본 상품 */
.re_back {
  width: 100%;
  height: 300px;
  background-color: #e1f3f9;
}

.recent_title {
  left: 960px;
}

.recent {
  width: 1200px;
  margin: 200px auto 0;
}

.recent_list {
  width: 1500px;
}

.recent_list li {
  float: left;
  margin: 10px;
}

.recent_content {
  display: block;
  width: 180px;
  height: 140px;
  position: relative;
  border-radius: 20px;
  background: url(../img/recent_thum.jpg) no-repeat 50% 50% / cover;
  box-shadow: 2px 2px 10px #ccc;
}

.local {
  position: absolute;
  left: 10px;
  bottom: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.recent_more {
  display: block;
  width: 123px;
  height: 33px;
  margin: 40px auto 0;
  background: url(../img/recent_more.png) no-repeat 0 0 / contain;
  text-indent: -9999px;
}

/* 맛집 */
.food {
  width: 1200px;
  margin: 200px auto;
}

.food_main{
  width: 600px;
  height: 380px;
  border: 1px solid #ccc;
  border-radius: 20px;
  position: relative;
}
.food_main img{
  width: 600px;
  height: 380px;
  border-radius: 20px;
}

.food_main p{
  position: absolute;
  bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0 20px 20px 0;
  opacity: 0;
  transition: all 0.5s;
}

.food_main:hover p,
.food_main:focus p{
  opacity: 1;
}

.food_wrap {
  display: flex;
}

.food_sub {
  display: flex;
  width: 580px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}
.food_sub img{
  width: 265px;
  height: 155px;
  border-radius: 20px;
}

.food_sub a {
  display: block;
  width: 265px;
  height: 180px;
  line-height: 20px;
}

.food_more {
  display: block;
  width: 123px;
  height: 33px;
  margin: 40px auto 0;
  background: url(../img/food_more.png) no-repeat 0 0 / contain;
  text-indent: -9999px;
  overflow: hidden;
}

/* 기업 고객 */
.cor {
  width: 1200px;
  margin: 200px auto 0;
}

.left_box {
  float: left;
}

.right_box {
  float: left;
}

.ad_box {
  display: block;
  width: 595px;
  height: 200px;
  background: url(../img/ad.png) no-repeat 0 0 / contain;
  text-indent: -9999px;
  overflow: hidden;
}

.gh_box {
  display: block;
  width: 595px;
  height: 200px;
  background: url(../img/gh.png) no-repeat 0 0 / contain;
  text-indent: -9999px;
  overflow: hidden;
}

/* 플로팅 네비 */

.floating-bar {
  width: 80px;
  height: 400px;
  position: fixed;
  top: 10%;
  right: 5%;
  transition: display 0.5s;
  z-index: 10;
}

.floating-bar ul {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}

.floating-bar ul li {
  width: 80px;
  height: 100px;
  text-align: center;
  white-space: nowrap;
  margin: 5px auto;
}

.floating-bar ul li a {
  display: block;
  height: 70px;
  padding-top: 99%;
  box-sizing: border-box;
  border-radius: 50%;
  transition: all 0.4s;
}

.floating-bar ul li a:hover {
  opacity: 0.7;
}

.f-app {  background: url(../img/f_app.png) no-repeat 50% 50%;}
.f-help {  background: url(../img/f_help.png) no-repeat 50% 50%;}
.f-chat {  background: url(../img/f_chat.png) no-repeat 50% 50%;}
.f-rvp {  background: url(../img/f_rvp.png) no-repeat 50% 50%;}

/* 앱 다운로드 클릭시 나오는 영역 */
.app_download{
  display: flex;
  width: 70px;
  height: 70px;
  line-height: 70px;
  position: absolute;
  z-index: 1;
  top: 9px;
  left: 5px;
  opacity: 0;
}
.apple{
  display: inline-block;
  width: 160px;
  height: 52px;
  margin: 12.5px;
  margin-right: 0;
}
.google{
  display: inline-block;
  width: 160px;
  height: 52px;
  margin: 12.5px
}
.app_link img{
  width: 100%;
  height: 100%;
}

/* 푸터 SNS영역 */
footer {
  background-color: #f5f5f5;
  margin: 150px 0 0;
  color: #999;
  border-top: 1px solid transparent;
}

footer a {
  color: inherit;
}

.foot_wrap {
  width: 1200px;
  margin: auto;
}

.sns>ul {
  width: 100px;
  height: 40px;
  margin: 20px 0 0 10px;
}

.sns>ul>li {
  float: left;
  margin: 0 5px;
  width: 40px;
  height: 40px;
}

.facebook {
  display: block;
  width: 40px;
  height: 40px;
  background: url(../img/facebook.png) no-repeat center center;
  text-indent: -9999px;
}

.blog {
  display: block;
  width: 40px;
  height: 40px;
  background: url(../img/blog.png) no-repeat center center;
  text-indent: -9999px;
}


footer ul li {
  float: left;
}

.foot_term {
  height: 50px;
  line-height: 50px;
}

.foot_group {
  height: 50px;
  line-height: 50px;
}

.foot_term>ul>li>a::after,
.foot_group>ul>li>a::after {
  content: '|';
  margin: 0 5px;
}

.foot_term>ul>li:last-child>a::after,
.foot_group>ul>li:last-child>a::after {
  content: '';
}

.foot_service {
  height: 50px;
  line-height: 50px;
}

.foot_com p {
  height: 40px;
  line-height: 40px;
}

.foot_com i {
  font-style: normal;
  line-height: 20px;
}


