/* 상품페이지 컨텐츠 랩 */

.content_wrap{
  width: 1200px;
  margin: 70px auto;
}


/* 레이아웃용 div */
.layout{
  display: flex;
  justify-content: space-around;
}

/* 이미지 */
.img_box{
  width: 550px;
  height: 500px;
  position: relative;
  overflow: hidden;
}
.cont_main_img{
  width: 580px;
  height: 390px;
  background-color: #999;
}
.cont_img{
  display: flex;
  width: 580px;
  justify-content: space-evenly;
  margin: 10px 0 0;
}
.cont_img a{
  display: block;
  width: 100px;
  height: 90px;
  background-color: #ccc;
}

.img_left,
.img_right{
  width: 30px;
  height: 55px;
}
.img_prev_btn{
  display: block;
  width: 30px;
  height: 55px;
  background: #fff url(../img/scroll-lb.png) no-repeat 70% 50% / 70%;
  text-indent: -9999px;
  border-radius: 10px;
  opacity: 0.2;
  transition: all 0.4s;
  position: absolute;
  bottom: 25px;
  left: -10px;
}
.img_prev_btn:hover{
  opacity: 1;
}
.img_next_btn{
  display: block;
  width: 30px;
  height: 55px;
  background: #fff url(../img/scroll-rb.png) no-repeat 30% 50% / 70%;
  text-indent: -9999px;
  border-radius: 10px;
  opacity: 0.2;
  transition: all 0.4s;
  position: absolute;
  bottom: 25px;
  right: -10px;
}
.img_next_btn:hover{
  opacity: 1;
}

/* 상품 정보 */

.info{
  width: 600px;
}

.cont_name{
  font-size: 28px;
  font-weight: bold;
  margin: 0 0 10px 60px;
}
