@font-face {font-family: 'yg-jalnan';src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'Pretendard-Regular';src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');font-weight: 400;font-style: normal;}
/* reset css */
*{margin: 0; padding: 0;}
body, button{font-weight: normal; font-size: 16px; font-family: "Pretendard-Regular","맑은 고딕", 'Open Sans', sans-serif;}
h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: inherit;}
ul,ol,dl,li{list-style: none;}
a{text-decoration: none; color: #000;}
address{font-style: normal;}
.hide{overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px}
.cf::after{content: ''; display: block; clear: both;}
/* .main{margin: auto; min-width: 1200px; width: 1260px; } */

/* 헤더영역 */
header{
  background-color: #5694f0;
}
.header_wrap{
  width: 1200px;
  height: 89px;
  margin: auto;
  position: relative;
  border-top: 1px solid transparent
}
.logo {
  width: 120px;
  height: 30px;
  margin: 35px;
  float: left;
}
.logo a{
  display: block;
  width: 100%;
  height: 22px;
  background: url(../img/gc_logo_white.png) no-repeat 0 0 / contain;
  text-indent: -9999px;
  overflow: hidden;
}

.search_btn {
  display: block;
  width: 48px;
  height: 48px;
  background: url(../img/ico_srch_white.png) no-repeat 50% 50% / contain;
  text-indent: -9999px;
  overflow: hidden;
}

.top_menu{float: right; }
.top_menu li{float: left; margin: 20px 15px; font-family: 'yg-jalnan';}
.top_menu li a{
  display: block;
  width: 65px;
  line-height: 48px;
  color: #fff;
  font-size: 18px;
}

/* 진행사항 */

.wrap{
  width: 600px;
  margin: 70px auto;
}
h2{
  font-family: 'yg-jalnan';
  font-size: 28px;
}
.list{
  width: 580px;
  height: 55px;
  padding-bottom: 10px;
  background: url(../img/progress_bg.png) no-repeat bottom center;
}
.list li{
  width: 33.333%;
  height: 35px;
  margin: 25px 0 0;
  padding-bottom: 5px;
  float: left;
}

.list li a{
  font-size: 22px;
  line-height: 35px;
}
.on{
  background: url(../img/progress_bar.png) no-repeat bottom center;
}
.onboard{
  display: block;
  width: 400px;
  height: 650px;
  margin: 30px auto 25px;
  font-size: 16px;
  position: relative;
}
.outboard{
  display: none;
}
h3{text-indent: -999px; width: 0; height: 0;}
fieldset{border: none; position: relative;}
legend{text-indent: -999px; width: 0; height: 0;}

input{margin-right: 5px;}
input[type=tel],
input[type=number],
input[type=email],
input[type=password],
input[type=text]{
  width: 280px;
  height: 50px;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 10px 10px 10px 15px;
  box-sizing: border-box;
  
}
.next{
  width:380px;
  height: 74px;
  position: absolute;
  bottom: 10px;
  background: url(../img/next_btn.png) no-repeat;
  text-indent: -9999px;
  border: none;
  cursor: pointer;
  opacity: 0.5;
}
input::placeholder{
  font-family: 'Pretendard';
  font-size: 16px;
  color: #bbb;

}
/* 동의사항 */

/* 체크박스 바꾸는법을 모루겠어요 ㅜㅜ */

.all_check{font-size: 18px;}
.outbox{margin: 80px 5px 35px;}
.est{color: red; font-size: 18px;}
.opt{color: #000; font-size: 18px;}
.inbox{
  height: 30px; line-height: 30px;
  margin: 5px;
}
.agree_box fieldset{margin: 20px 0 0;}

/* 본인인증 */
.cer_box{
  font-size: 16px;
}
.cer_box p { margin: 110px 0 0; padding-bottom: 10px;}
.send{
  width:80px;
  height: 52px;
  background: url(../img/send_btn.png) no-repeat;
  text-indent: -9999px;
  border: none;
  cursor: pointer;
  opacity: 0.5;
}
.con{
  width: 80px;
  height: 50px;
  background: url(../img/con_btn.png) no-repeat;
  text-indent: -9999px;
  border: none;
  cursor: pointer;
  opacity: 0.5;
}
.cer_inbox{ margin: 0 0 80px;}

/* 정보 입력 */
.info_inbox{
  width: 380px;
  height: 110px;
  margin: 20px 0;
  position: relative;
}

.info_inbox label{
  font-size: 18px;
  line-height: 40px;
}
.info_inbox input{
  width: 380px;
}

.pw_guide{
  color: #999;
  font-size: 14px;
  position: absolute;
  bottom: 0;
}
.pwc_check{
  color: #ff1c1c;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  opacity: 0; /* 에러 발생시 보이게 */
}
.name_check{
  color: #ff1c1c;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  opacity: 0; /* 에러 발생시 보이게 */
}