
.wrap{
  width: 1100px;
  margin: 200px auto;
}

.text_box{ text-align: center;}
.text_box p{
  font-family: 'yg-jalnan';
  font-size: 68px;
  line-height: 88px;
  white-space: nowrap;
}
.f_color{ color: #5694f0;}

.link_box{ display: flex; margin: 95px auto; text-align: center; justify-content: center;}

.link_box a{ 
  display: block; 
  width: 250px; 
  height: 100px;
  line-height: 100px;
  border-radius: 10px;
  color: #fff;
  font-size: 28px;
  font-family: 'yg-jalnan';
  box-sizing: border-box;
}

.home{ padding-left: 90px; background: #f7323f url(../img/home_link.png) no-repeat 20% center / 74px 59px; margin-right: 40px}
.benefits{ background-color: #5694f0;}