@font-face {font-family: 'yg-jalnan';src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'Pretendard-Regular';src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');font-weight: 400;font-style: normal;}

/* reset css */
*{margin: 0; padding: 0;}
body, button{font-weight: normal; font-size: 16px; font-family: "Pretendard-Regular","맑은 고딕", 'Open Sans', sans-serif;}
h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: inherit;}
ul,ol,dl,li{list-style: none;}
a{text-decoration: none; color: #000;}
address{font-style: normal;}
.hide{overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px}
.cf::after{content: ''; display: block; clear: both;}

.wrap{
  width: 1200px;
  margin: 170px auto;
}

/* 로고 */
.logo {
  width: 144px;
  height: 30px;
  margin: 20px auto;
}
.logo a{
  display: block;
  width: 100%;
  height: 30px;
  background: url(../img/gc_logo.png) no-repeat 0 0 / contain;
  text-indent: -9999px;
}

/* ir */




/* login */
fieldset{
  width: 500px;
  margin: 20px auto 0;
  border: none;
}

.inp_box{
  width: 480px;
  height: 50px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 30px 10px 0;
  font-size: 22px;
  box-sizing: border-box;
  padding-left: 13%;
}
.id{
  background: url(../img/id_btn.png) no-repeat 2% 50% / 40px 30px;
  opacity: 0.5;
}
.id::placeholder{
  font-size: 22px;
  font-family: 'Pretendard-Regular';
}
.pw{
  background: url(../img/pw_btn.png) no-repeat 2% 50% / 40px 30px;
  opacity: 0.5;
}
.pw::placeholder{
  font-size: 22px;
  font-family: 'Pretendard-Regular';
}

.lg_btn{
  display: block;
  width: 480px;
  height: 70px;
  margin: 50px auto 0;
  background: url(../img/lg_btn.png) no-repeat center / contain;
  text-indent: -9999px;
  border: none;
  cursor: pointer;
}

/* btn */
.box{
  width: 500px;
  height: 92px;
  margin: 20px auto 0;
}
.box a{
  float: left;
  margin: 5px 10px;
}

.left_btn{
  display: block;
  width: 230px;
  height: 82px;
  background: url(../img/find_btn.png) no-repeat 0 0 / contain;
  text-indent: -9999px;
}

.right_btn{
  display: block;
  width: 230px;
  height: 82px;
  background: url(../img/join_btn.png) no-repeat 0 0 / contain;
  text-indent: -9999px;
}

/* sns */

.sns_box{
  width: 600px;
  height: 160px;
  margin: 50px auto;
  border-top: 2px solid #000;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sns{
    display: block;
    width: 76px;
    height: 18px;
    background: url(../img/sns_label.png) no-repeat 0 0 / contain;
    text-indent: -9999px;
    position: absolute;
    top: -9px;
    left: 50%;
    transform: translate(-50%);
}

.naver{
    display: block;
    width: 80px;
    height: 80px;
    background: url(../img/naver.png) no-repeat 0 0 / contain;
    text-indent: -9999px;
    margin:20px;
}
.kakao{
    display: block;
    width: 80px;
    height: 80px;
    background: url(../img/kakao.png) no-repeat 0 0 / contain;
    text-indent: -9999px;
    margin:20px;
}
.facebook{
    display: block;
    width: 80px;
    height: 80px;
    background: url(../img/fb.png) no-repeat 0 0 / contain;
    text-indent: -9999px;
    margin:20px;
}

.copyright{
  text-align: center;
  color: #999;
}

/* 에러메세지 */
.err-txt{
  margin: 5px 0 0 10px;
  color: red;
  height: 20px;
  text-align: center;
}