.wrap{
  width: 800px;
  margin: 20px auto;
  position: relative;
  top: 70px;
}
.event-title{
  padding: 20px 10px;
  height: 80px;
  box-sizing: border-box;
  /* background-color: #999; */
  border-bottom: 4px solid #f7323f;
  margin-bottom: 10px;
  position: relative;
}
.lBtn{
  display: block;
  width: 70px;
  position: absolute;
  top: 20px;
  right: 10px;
  font-size: 20px;
  line-height: 48px;
  text-align: center;
  color: #fff;
  background-color: #5694f0;
  border-radius: 5px;
  box-sizing: border-box;
}
.event-title h3{
  font-size: 24px;
}
.event-title p{
  color: #999;
}
.event-wrap img{
  display: block;
  width: 100%;
}