.wrap{
  width: 800px;
  margin: 0 auto;
  position: relative;
  top: 70px;
}
.tap-menu{
  position: relative;
}

.tap-menu ul{
  margin: 20px 0 0 10px;
  height: 50px;
  border-bottom: 3px solid gray;
  box-sizing: border-box;
}
.tap-menu ul li{
  width: 120px;
  height: 47px;
  text-align: center;
  float: left;
}
.tap-menu ul li a{
  display: block;
  width: 120px;
  line-height: 47px;
}
.tap-menu ul li a.on{
  background-color: #eeeeee90;
  color: #f7323f;
  font-weight: bold;
  border-bottom: 3px solid #f7323f;
}

/* 콘텐츠 */
.event-wrap{
  box-sizing: border-box;
  padding: 20px;
  line-height:30px;
}
.event-wrap ul li{
  margin: 0 0 40px;
  position: relative;

}
.event-title{
  font-size: 24px;
}
.event-period{
  color: #999;
}
.event-img{
  display: block;
  width: 760px;
  height: 315px;
}
.event-img img{
  width: 100%;
  height: 100%;
}
.e_regi{
  display: block;
  color: #fff;
  line-height: 43px;
  background: #f7323f;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 2.5px 5px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.7;
  transition: opacity 0.4s;
}
.e_regi:hover{
  opacity: 1;
}

.e_modify{
  display: block;
  color: #5694f0;
  line-height: 23px;
  background: #fff;
  border: 1px solid #5694f0;
  border-radius: 5px;
  padding: 2.5px 5px;
  box-sizing: border-box;
  position: absolute;
  top: 15px;
  right: 0;
  transition: background 0.4s, color 0.4s;
}

.e_modify:hover{
  color: #fff;
  background: #5694f0;
}

/* 종료된 이벤트 */
.ended {
  opacity: 0.5 !important;
}

/* 당첨자 발표 */
.board-wrap{
  box-sizing: border-box;
  padding: 20px 0 0 10px;
  line-height:30px;
}
.board{
  position: relative;
  border-bottom: 1px solid #999;
  padding: 30px 10px  ;
  box-sizing: border-box;
}
.board-title{
  font-size: 24px;
}
.board-date{
  color: #999;
}
.drop_btn{
  width: 16px;
  height: 14px;
  position: absolute;
  top: 40px;
  right: 10px;
  opacity: 0.5;
  transition: transform 0.2s;
}
.board_content{
  background: #eee;
  margin-top: 30px;
  padding: 20px 30px;
  box-sizing: border-box;
  display: none;
}
.rotate{
  transform: rotate(180deg);
}

.pager_list{
  width: inherit;
  height: 100px;
  padding: 30px;
  font-size: 18px;
  box-sizing: border-box;
  text-align: center;
}
.pager a{
  display: inline-block;
  width: 40px;
}
/* 관리자 버튼 */
.b_group{
  position: absolute;
  bottom: 0;
  right: 10px;
}
.mgr_btn{
  display: inline-block;
  width: 50px;
  line-height: 30px;
  text-align: center;
}
.del_btn{
  color: #f7323f;
}
.mod_btn{
  color: #5694f0;
}