@font-face {font-family: 'yg-jalnan';src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'Pretendard-Regular';src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');font-weight: 400;font-style: normal;}
/* reset css */
*{margin: 0; padding: 0;}
body, button{font-weight: normal; font-size: 16px; font-family: "Pretendard-Regular","맑은 고딕", 'Open Sans', sans-serif;}
h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: inherit;}
ul,ol,dl,li{list-style: none;}
a{text-decoration: none; color: #000;}
address{font-style: normal;}
.hide{overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px}
.cf::after{content: ''; display: block; clear: both;}
/* .main{margin: auto; min-width: 1200px; width: 1260px; } */


/* 페이지 타이틀 */
.p_box{
  width: 100%;
  height: 140px;
  background-color: #5694f0;
  position: relative;
  top: 70px;
}
.p_title{
  color: #fff;
  font-size: 36px;
  font-family: "yg-jalnan";
  position: absolute;
  bottom: 50px;
  left: 20%;
}

.main-wrap{
  width: 1200px;
  margin: auto;
  position: relative;  
  top: 140px; /* 왜 70먹고들어가지? */
  overflow: hidden;
}
.main-wrap section{
  float: left;
}

/* lnb 영역 */
.lnb{
  width: 300px;
  box-sizing: border-box;
}
.lnb ul li{
  width: 300px;
  height: 50px;
}
.lnb ul li a{
  display: block;
  width: 220px;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
}

.lnb ul li a.on{
  background-color: #f6f6f6;
  margin-left:80px;
  padding-left: 20px;
  box-sizing: border-box;
  color: #f7323f;
}

/* 컨텐츠 영역 */
.content{
  width: 900px;
  background-color: #f6f6f6;
  box-sizing: border-box;
  padding: 15px 30px;
}


/* footer 재설정 */
footer{
  top: 70px;
}
